/**
 *
 *
 */

.ss-gallery__loader {
  position:    absolute;
  margin-left: -200px;
  top:         0;
  width:       100px;
  height:      100px;
  overflow:    auto;

  img {
    display: block;
  }
}

.ss-gallery__modal-bg {
  position:         fixed;
  top:              0;
  left:             0;
  width:            100%;
  height:           100%;
  display:          none;
  z-index:          1000;
  background-color: #333;
}

.ss-gallery__modal {
  position:           absolute;
  display:            none;
  z-index:            1001;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  box-shadow:         0 0 20px 0 rgba(0, 0, 0, 0.5);

  img {
    width: 100%;
  }
}

.ss-gallery__close {
  background: transparent url(../images/siteset-gallery-switch.png) 0 0 no-repeat;
  cursor:     pointer;
  width:      30px;
  height:     30px;
  position:   absolute;
  right:      -13px;
  top:        -13px;
  z-index:    1101;
}

.ss-gallery__switch-left, .ss-gallery__switch-right {
  position: absolute;
  width:    50%;
  height:   100%;
  bottom:   0;
  cursor:   pointer;
  z-index:  1100;
}

.ss-gallery__switch-left {
  left: 0;
}

.ss-gallery__switch-right {
  right: 0;
}

.ss-gallery__switch-left:hover .ss-gallery__switch-left-ico {
  left: 20px;
}

.ss-gallery__switch-right:hover .ss-gallery__switch-right-ico {
  right: 20px;
}

.ss-gallery__switch-left-ico {
  background: transparent url(../images/siteset-gallery-switch.png) 0 -30px no-repeat;
  left:       -9999px;
}

.ss-gallery__switch-right-ico {
  background: transparent url(../images/siteset-gallery-switch.png) 0 -60px no-repeat;
  right:      9999px;
}

.ss-gallery__switch-left-ico, .ss-gallery__switch-right-ico {
  cursor:     pointer;
  width:      30px;
  height:     30px;
  position:   absolute;
  top:        50%;
  margin-top: -15px;
  z-index:    1101;
}

.ss-gallery__count {
  margin-left: 5px;
  color:       #fff;
}

.ss-gallery__desc {
  position:    absolute;
  margin-left: 5px;
  margin-top:  -20px;
  color:       #fff;
}