﻿/**
 *
 *
 */

.ss-scrollbar__vertical {
  background-color: #E2E8F0;
  width:            5px;
  position:         absolute;
  right:            0;
  top:              0;
}

.ss-scrollbar__vertical-bar {
  background-color: #A0AEC0;
  width:            5px;
}