//
//
//

// Шапка
.nav-menu {
  .active {
    color: #1A202C;
    
    &:before {
      content: "";
      display: block;
      position: absolute;
      border-left: 8px solid rgba(44, 82, 130, 0);
      border-right: 8px solid rgba(44, 82, 130, 0);
      border-bottom: 8px solid #2C5282;
      left: 50%;
      margin-left: -8px;
      bottom: 0;
    }
  }
}

.nav-submenu {
  .active {
    color: #fff;

    &:before {
      content: "";
      display: block;
      position: absolute;
      height: 4px;
      background: #3182CE;
      bottom: 0;
      width: 100%;
    }
  }
}